@charset "utf-8";
@media screen and (min-width:320px) and (max-width:767px) {
 .news_con, .tab_con article, .best_product article, .event, .es_wrap div, .gallery article, .girl, .f_inner nav { width:100%; } 
 header h1 {width:200px; } 

 /* 모바일 내비게이션 서식 */
 header nav { position:fixed; top:60px; width:100%; height:100%; z-index:1001; display:none; }
 .logo{z-index:1090;} 
 .gnb { width:90%; right:5%; top:90px; } 
 .gnb > ul { display:block; background:#fff; width:100%; } 
 .gnb > li { text-align:center; position:relative; } 
 .gnb > ul > li > a { color:#333; font-size:1rem; display:block; text-align:center; } 
 .sub { display:none; position:absolute; width:90%; left:5%; box-shadow: 0px 3px 2px #ccc; border:1px solid #ccc; z-index:100; } 
 .sub li a { background:#e8e8e8; } 
 .gnb li:first-child .sub { width:100%; left:0px; } 
 .gnb li:nth-child(2) .sub { width:100%; left:0px; } 

 #toggle { display:block; background:#0056aa; padding:8px; position: absolute; right:3%; top:24px; width:32px; height:32px; z-index:1002; } 
 #toggle span { display:inline-block; width:32px; height:2px; background:#fff; position:absolute; transition:0.5s; } 
 #toggle span:first-child { top:12px; } 
 #toggle span:nth-child(2) { top:22px; } 
 #toggle span:last-child { bottom:12px; } 

 .rotate1 { transform:rotate(45deg); left:9px; top:23px !important; } 
 .rotate2 { transform:rotate(-45deg); bottom: 23px !important; right:7px; } 
 .bgcolor { background:rgba(18, 18, 18,.8) !important; } 

 /* 메인서식 */
 main{width:100%;overflow:hidden;}
 .v_slide { height:450px; } 
 .v_slide>.visual>div img { width:100%; height:450px; object-fit:cover } 
 .title { position:absolute; top:-59%; left:-8%; font-size:38px; color:#fff;}
.slide1, .slide2, .slide3, .slide4 { position:relative; width:100%; height:792px; } 
.title02 { position:absolute; top:-53%; left:-10%; font-size:38px; color:#fff;}
.txt01 { position:absolute; top:-20%; left:-8%; font-size:18px; color:#fff; } 
.txt02 { position:absolute; bottom:95%; left:-8%; font-size:18px; color:#fff; } 
.txt03 { position:absolute; bottom:115%; left:-50px; font-size:18px; color:#fff; } 
.p_btn { position:absolute; z-index:9000; bottom:80px; left:10%; } 
.break { display:block; } 
 /* 뉴스콘텐츠 서식 */
 .news_con { width:100%; display:block; text-align:center;margin:100px auto;} 
 .news_con article { height:auto; padding:2%; box-sizing: border-box; } 
 .news_con article > h2 img { width:210px; } 
 .news_con article > h2 span { display:block; font-size:20px; } 
 .news_con article > h2 { font-size:24px;} 

 .youtube, .news_list { width:100%; } 
 /*광고사진 */
 .news_list>h2{margin-top:100px;}
 .news_list>ul>li>a {width:100%}
 .news_list>ul>li{margin-bottom:40px;}
 .news_list>ul>li>a{display:block;margin-bottom:20px;}
 .pub_photo { width:100%; position:relative; } 
.photo { position:absolute; top:28%; left:50%; transform:translate(-50%,-50%); z-index:9000; } 
.pub_photo>img { width:100%; height:900px; object-fit:cover; } 
.photo>h2 { font-size:24px; line-height:35px; } 
.photo>p { width:250px; font-size:16px; padding:10px 0px 50px 0px; } 
.detail { border-bottom:1px solid #0056aa; text-align:center; padding:5px; font-size:17px; } 
 /* 4. 인기제품 */
.best_product{padding:60px 0px 0px 0px;}
 .best_product article { width:100%; text-align:center; } 
 .best_product ul { display:block; width:98%; margin:0px auto;} 
 .title2 { text-align:center;margin-bottom:30px;} 
 .title3{margin-bottom:100px;}
 .inner_product>li>a>img{object-fit:cover;}
 .best_product ul > li { width:100%;margin:0px; height:500px;overflow:hidden;} 
 .best_product h3, .best_product p { text-align:left; }
 .best_product ul>li>a img {
height:411px; 
}
 .best_product ul>li h3{
    margin-bottom: 50px;
 }
 .best_product ul>li>a img:hover {transform:scale(1);}
 #banner_img{display:none;}
 #banner_img2{display:block;}

 /* 5. 이벤트 슬라이드 */
 .event { margin:0px; } 
 .es_wrap { width:300%; } 
 .es_wrap > div img { width:100%; } 
 .e_slide { display:block; padding:0px;} 
 .e_slide a { display:block; }
 .event i.fas { top:40%; }  
 .event i.fa-angle-left { left:10px; } 
 .event i.fa-angle-right { right:10px; } 
 .e_slide .e_txt { padding:10px 0px 0px 0px; height:230px; width:300px;position:relative; left:15px;margin-bottom:100px;} 
 .e_txt h3 { line-height:31px; margin-bottom:10px;margin-top:20px;} 
 .date { margin-bottom:30px;padding-bottom:0;} 
 .e_txt p:last-child {
line-height:25px;}
 /* 6. 이미지 갤러리 */
 .gallery article { padding-top:40px } 
 .gallery article > h2 { text-align:center; padding-bottom:10px; } 
 .girl { display:block; box-sizing: border-box; } 
 
 figure { height:300px; } 
 .girl figure>a:hover img{transform:scale(1);}
 .girl figure:nth-child(3) { background:#fff; } 
 .girl figcaption { transform: translate(0px, -81px); transition:none; background-color: rgba(0,0,0,.8); } 
.shorten { display:none; } 
 /* 푸터영역 */
 footer { } 
 address {width:100%; } 
 .f_inner nav { width:100%; margin:0 auto; flex-wrap:wrap; justify-content: space-around; text-align:center; } 

 .sns>dd { width:144px; } 
 .f_inner dl { width:40%; } 
address p { padding-left:5%; font-size:13px;line-height:30px; } 
.break1{display:none;}
.f_inner nav { padding-bottom:20px; } 
/* popup */
.p_modal { width:100%; height:100%; background:rgba(0,0,0,.8); position:fixed; top:0px; left:0px; text-align:center; z-index:9999; } 
.p_modal div { max-width:109%; position:absolute; top:30%; left:0%;transform:translate(0%,0%);} 
.p_modal img{width:100%;}
.p_modal input[type=checkbox]+label{margin-right:0;}
}